<mat-toolbar color="primary">
  <mat-icon style="margin-right:8px">school</mat-icon>
  <span style="font-weight:700; flex:1">İmtahan Proqramı</span>

  <a mat-button routerLink="/subjects" routerLinkActive="active-nav">
    <mat-icon>book</mat-icon> Dərslər
  </a>
  <a mat-button routerLink="/students" routerLinkActive="active-nav">
    <mat-icon>people</mat-icon> Şagirdlər
  </a>
  <a mat-button routerLink="/exams" routerLinkActive="active-nav">
    <mat-icon>assignment</mat-icon> İmtahanlar
  </a>
</mat-toolbar>